<!-- navbar collapse -->
<div ng-controller="NavbarController" ng-switch="isAuthenticated()" class="nav box-shadow bg-white-only">

    <!-- link and dropdown -->
    <ul class="nav navbar-nav hidden-sm">
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="icon-user icon"></i>
                <span translate="header.navbar.PROFILE.profile">Profile</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="app.profile.calculator" translate="header.navbar.PROFILE.calculator">Calculator</a></li>
                <li><a ui-sref="app.profile.progress" translate="header.navbar.PROFILE.progress">Progress</a></li>
            </ul>
        </li>
    </ul>
    <!-- / link and dropdown -->


    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="icon-bell fa-fw"></i>
                <span class="visible-xs-inline">Notifications</span>
                <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>


            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp">
                <div class="panel bg-white">
                    <div class="panel-heading b-light bg-light">
                        <strong>You have <span>2</span> notifications</strong>
                    </div>
                    <div class="list-group">
                        <a href class="list-group-item">
                    <span class="pull-left m-r thumb-sm">
                      <img src="img/a0.jpg" alt="..." class="img-circle">
                    </span>
                    <span class="clear block m-b-none">
                      Use awesome animate.css<br>
                      <small class="text-muted">10 minutes ago</small>
                    </span>
                        </a>
                        <a href class="list-group-item">
                    <span class="clear block m-b-none">
                      1.0 initial released<br>
                      <small class="text-muted">1 hour ago</small>
                    </span>
                        </a>
                    </div>
                    <div class="panel-footer text-sm">
                        <a href class="pull-right"><i class="fa fa-cog"></i></a>
                        <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                    </div>
                </div>
            </div>
            <!-- / dropdown -->
        </li>

        <li class="dropdown" ng-switch-when="true" has-authority="ROLE_ADMIN" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
                <span class="hidden-sm hidden-md">Administration</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                    &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                    &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                    &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                    &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                    &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                    &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                    &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                <li ng-hide="inProduction"><a href='/h2-console' target="_tab" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-hdd"></span>
                    &#xA0;<span translate="global.menu.admin.database">Database</span></a></li>
            </ul>
        </li>


        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
                <span ng-switch-when="true" class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="{{profileImg}}" alt="">
                <i class="on md b-white bottom"></i>
                </span>
                <span class="glyphicon glyphicon-user"></span>
                <span class="hidden-sm hidden-md" translate="global.menu.account.main">Account</span> <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href>
                        <span translate="global.menu.account.settings">Settings</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <span translate="global.menu.account.profile">Profile</span>
                    </a>
                </li>
                <li class="divider"></li>

                <li ui-sref="app.login" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                    &#xA0;<span translate="global.menu.account.login">Sign in</span></a>
                </li>

                <li ui-sref="app.logout" ng-switch-when="true"><a href="" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                    &#xA0;<span translate="global.menu.account.logout">Sign out</span></a>
                </li>

                <li ui-sref="app.register" ng-switch-when="false">
                    <a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                        &#xA0;<span translate="global.menu.account.register">Register</span></a>
                </li>
                <!-- / dropdown -->
            </ul>
            <!-- / navbar right -->
        </li>
    </ul>
</div>
<!-- / navbar collapse -->
