<div>

    <h2 translate="connections.title" translate-values="{username: '{{account.login}}'}">Active sessions for [<b>{{account.login}}</b>]</h2>

    <div class="alert alert-success" ng-show="success" translate="connections.messages.success">
        <strong>Session invalidated!</strong>
    </div>
    <div class="alert alert-danger" ng-show="error" translate="connections.messages.error">
        <strong>An error has occured!</strong> The session could not be invalidated.
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="connections.table.provider">Provider</th>
                    <th translate="connections.table.operations">Operations</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="connection in connections">
                    <td>
                        <jh-social type='icon' external-account-provider="connection.externalProvider"></jh-social>
                        <strong>{{connection.externalProvider}}</strong>
                    </td>
                    <td>
                        <button type="submit"
                                class="btn btn-primary" 
                                ng-show="connection.connected"
                                ng-click="delete(connection)" translate="connections.table.btnDelete">
                                 Disconnected
                        </button>
                        <jh-social type='normal' 
                                   ng-hide="connection.connected"
                                   external-account-provider="connection.externalProvider">
                            {{'connections.table.btnAdd' | translate}}
                        </jh-social>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
