<div class="wrapper-md" ng-init="app.settings.container = false;">

    <div class="col">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div style="background:url(assets/img/c4.jpg) center center; background-size:cover">
                        <div class="wrapper-lg bg-white-opacity">
                            <div class="row m-t">
                                <a href class="thumb-lg pull-left m-r">
                                    <img src="assets/img/a0.jpg" class="img-circle">
                                </a>

                                <div class="clear m-b">
                                    <div class="m-b m-t-sm">
                                        <span class="h3 text-black">John.Smith</span>
                                        <small class="m-l">London, UK</small>
                                    </div>
                                    <p class="m-b">
                                        <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                                        <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                                        <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel b-a">
                    <div class="panel-heading font-bold">
                        <span class="text-lt">Information video
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/_LUfA4Yo1Ws" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="panel wrapper" ng-controller="FlotChartDemoCtrl">
                    <label class="i-switch bg-warning pull-right" ng-init="showSpline=true">
                        <input type="checkbox" ng-model="showSpline">
                        <i></i>
                    </label>
                    <h4 class="font-thin m-t-none m-b text-muted">Latest Campaign</h4>

                    <div ui-jq="plot" ui-refresh="showSpline" ui-options="
              [
                { data: {{d0_1}}, label:'TV', points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 } },
                { data: {{d0_2}}, label:'Mag', points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 } }
              ],
              {
                colors: ['{{app.color.info}}', '{{app.color.primary}}'],
                series: { shadowSize: 3 },
                xaxis:{ font: { color: '#a1a7ac' } },
                yaxis:{ font: { color: '#a1a7ac' }, max:20 },
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },
                tooltip: true,
                tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
              }
            " style="height:246px">
                    </div>
                </div>
            </div>
            <button ng-click="vm.test()">Click</button>
            <!--////////////////BMR CALCULATION FORM//////////////////////////-->
            <div class="col-sm-8">
                <div class="panel b-a">
                    <div class="panel-heading font-bold">Your daily calories need (BMR):</div>

                    <img src="assets/img/couple.png" class="img-full">

                    <div class="panel-body">
                        <div class="panel-body">
                            <form name="userProfileForm" class="bs-example form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-5 control-label" style="font-size: 20px">Sex</label>

                                    <div class="col-lg-7">
                                        <label class="checkbox-inline i-checks">
                                            <input type="radio" name="a" value="0" ng-model="vm.userProfile.sex">
                                            <i></i>
                                            Male
                                        </label>
                                        <label class="checkbox-inline  i-checks">
                                            <input type="radio" name="a" value="1" ng-model="vm.userProfile.sex" checked>
                                            <i></i>
                                            Female
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label" style="font-size: 20px">Goal</label>

                                    <div class="col-lg-7">
                                        <div class="col-lg-5">
                                            <select name="goal" class="form-control"
                                                    ng-options="option.name for option in vm.goalOptions track by option.id"
                                                    ng-model="vm.userProfile.goal">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label" style="font-size: 20px">Body weight</label>

                                    <div class="col-lg-7">
                                        <div class="col-lg-5"><input ng-model="vm.userProfile.weight" name="weight" required type="number" class="form-control"></div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label" style="font-size: 20px">Age</label>

                                    <div class="col-lg-7">
                                        <div class="col-lg-5">
                                            <input value="30" ng-model="vm.userProfile.age" name="age" type="number" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label" style="font-size: 20px">Height</label>

                                    <div class="col-lg-7">
                                        <div class="col-lg-5">
                                            <input  type="number" ng-model="vm.userProfile.height" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label" style="font-size: 20px">Daily activity</label>

                                    <div class="col-lg-7">
                                        <div class="col-lg-5">
                                            <select name="dailyActivity" class="form-control"
                                                    ng-options="option.name for option in vm.dailyActivityOptions track by option.id"
                                                    ng-model="vm.userProfile.dailyActivity">
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="wrapper-lg text-center">
                                    <div class="form-group ">
                                        <div class="col-lg-offset-2"><label class="col-lg-4 control-label">
                                            <h3 class="text-center">I want to {{vm.userProfile.goal.name}}</h3>
                                        </label>

                                            <div class="col-lg-8 w-md" style="margin-top: 40px">
                                                <input id="slider" ui-jq="slider"
                                                       ui-options="
                                                       {
                                                        min: 0, max: 20,
                                                        step: 1,
                                                        value: {{vm.userProfile.weightChangeQuantity}}
                                                       }"
                                                       class="slider slider-horizontal form-control" type="text"> {{vm.userProfile.weightChangeQuantity}}
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="m-t-none"><p>Your total calories demand is: <a class="text-success font-bold"> {{vm.userProfile.totalCaloriesDemand}} kcal/per day</a></p></h3>
                                    <div>
                                        <h3><p>Your calories deficit is <a class="text-success font-bold">{{vm.userProfile.caloriesDeficit}} kcal/per day</a> kcal
                                            <br><br>
                                            Your daily calories demand<br>
                                            before exercise is <a class="text-success font-bold"> {{vm.userProfile.caloriesDemand}} kcal/per day</a></p></h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-5 col-lg-10">
                                        <div class="col-lg-5">
                                            <button type="submit" ng-click="vm.submit()" class="btn btn-lg btn-success">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--//////////////////////END OF BMR CALCULATION FORM//////////////////////////////-->
        </div>
    </div>
</div>
